body {
    margin: 0;
    padding: 0;
    background-color: #edf8f0;
    font-family: Arial, sans-serif;
}

table {
    text-align: center;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    background-color: #edf8f0;
    border-color: #cccccc;
    table-layout: fixed;
}

a {
    outline: none;
    text-decoration: none;
}

th,td {
    border: solid 1px #cccccc;
}

p {
    text-align: center;
    color: #111111;
    font-size: 20px;
    margin: auto;
}

h1 {
    text-align: left;
    color: #6eb76d;
    padding-left: 10%;
    padding-top: 5%;
    font-size: 60px;
}

h2 {
    text-align: center;
    color: #6eb76d;
    font-size: 50px;
}

h3 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    margin: auto;
    padding: 16px;
}

h4 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin: auto;
    padding: 16px;
}

h5 {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    margin: auto;
    padding: 16px;
}

input {
    text-align: center;
    margin: auto;
    font-size: 20px;
}
